{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <!-- O CSS de autenticação carregado para TODAS as telas filhas -->
    <link rel="stylesheet" href="{% static 'css/pages/auth.css' %}">
    {% block page_css %}{% endblock %}
{% endblock %}

{% block content %}
<!-- Layout limpo para telas de Autenticação -->
<div class="lia-auth-layout">

    <!-- BOTÃO FLUTUANTE: VOLTAR PARA O SITE -->
    <div class="lia-auth-back">
        <a href="{% url 'website:index' %}" class="lia-auth-back__btn d-inline-flex align-items-center gap-2">
            <i data-lucide="home"></i>
            Voltar para o site
        </a>
    </div>

    <!-- O nosso layout dividido (lia-auth) entra aqui -->
    {% block page_content %}{% endblock %}

</div>
{% endblock %}

{% block extra_js %}
=    {% block page_js %}{% endblock %}
{% endblock %}
