{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <!-- CSS específico da página de login/registro entra aqui -->
    {% block page_css %}{% endblock %}
{% endblock %}

{% block content %}
<!-- Layout limpo para telas de Autenticação -->
<div class="lia-auth-layout" style="min-height: 100vh; background-color: var(--color-background-subtle);">
    
    <!-- O nosso layout dividido (lia-auth) vai entrar aqui e ocupar a tela livremente -->
    {% block page_content %}{% endblock %}

</div>
{% endblock %}

{% block extra_js %}
    <!-- Carrega seus scripts globais de formulário -->
    <script src="{% static 'js/modules/forms.js' %}"></script>

    <!-- Scripts específicos da página entram aqui -->
    {% block page_js %}{% endblock %}
{% endblock %}
