{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <!-- Importamos componentes específicos do site público -->
    <link rel="stylesheet" href="{% static 'css/pages/website.css' %}">
    {% block website_css %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="lia-website">

        {% include 'partials/_navbar_public.html' %}

        <main class="lia-website__main">
            {% block website_content %}{% endblock %}
        </main>


        {% include 'partials/_footer_public.html' %}


    </div>
{% endblock %}

{% block extra_js %}
    {% block website_js %}{% endblock %}
{% endblock %}
