<div class="{{ col|default:'col-12' }} {{ extra_class|default:'' }} mb-3">

    <label for="{{ field.id_for_label }}" class="lia-form-label {% if field.field.required %}lia-form-label--required{% endif %}">
        {{ field.label }}
    </label>

    {{ field }}

    {% if field.help_text %}
        <div class="lia-form-help mt-1">
            {{ field.help_text }}
        </div>
    {% endif %}

    {% if field.errors %}
        <div class="lia-form-error mt-1">
            {{ field.errors|striptags }}
        </div>
    {% endif %}
</div>
