<div class="{{ col|default:'col-md-12' }} {{ extra_class|default:'' }} mb-3">
    <!-- Corrigi lia-label para lia-form-label (que é o que está no seu forms.css) -->
    <label for="{{ field.id_for_label }}" class="lia-form-label {% if field.field.required %}lia-form-label--required{% endif %}">
        {{ field.label }}
    </label>

    <!-- Nosso novo grupo de input refatorado -->
    <div class="lia-input-group">
        <span class="lia-input-group__text">
            <i data-lucide="calendar" class="lucide-sm"></i>
        </span>
        {{ field }}
    </div>

    {% if field.help_text %}
        <div class="lia-form-help mt-1">
            {{ field.help_text }}
        </div>
    {% endif %}

    {% if field.errors %}
        <div class="lia-form-error mt-1">
            {{ field.errors|striptags }}
        </div>
    {% endif %}
</div>
